<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_ZooManager.Properties.Settings.CSharpTutorialDBConnectionString"
            connectionString="Data Source=MININT-845L4L6\CSHARPTUTSQL;Initial Catalog=CSharpTutorialDB;Persist Security Info=True;User ID=sa;Password=S3d1n1733!;Pooling=False;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>